<div class="movie-card-{{cardSize}}">
  <div class="mat-card mat-focus-indicator example-card">
    <div class="movie-card-box">
      <div class="movie-card-left">
      <img mat-card-image src="{{movieData.Poster}}" alt="{{movieData.Title}"/>
      </div>
      <div class="movie-card-right">
        <div  class="mat-card-title"><span  *ngIf="cardSize == 'fullWidth'" (click)="hideDetails()"><img src="/assets/close.png" alt="Back"></span>{{movieData.Title}}</div>
        <div *ngIf="cardSize == 'fullWidth'" class="card-box-lay">
          <p class="pTitle heading-cls">Plot</p>
          <p class="pDetails" [innerHtml]="movieData.Plot"></p>
          <p class="pTitle heading-cls">Actors</p>
          <p class="pDetails" [innerHtml]="movieData.Actors"></p>
          <p class="pTitle heading-cls">Ratings</p>
          <div *ngFor="let rating of movieData.Ratings">
            <p class="pDetails">- {{rating.Source}} : {{rating.Value}}</p>
          </div>
        </div>
        <div class="mat-card-actions">
          <span class="year">{{movieData.Year}}</span>
          <button *ngIf="cardSize == 'halfWidth'" class="search-btn" mat-button (click)="showDetails()">DETAILS</button>
        </div>
      </div>
    </div>
  </div>
</div>



