<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primar movies-div-container">
    <div class="movie-container">
      <a class="navbar-brand title">
        OMDB Search
      </a>
      <div class="search-box d-flex" >
        <label class="search-title" fxHide.xs>Search a Movie</label>
        <div class="mat-form-field" appearance="fill">
          <input type="text" [(ngModel)]="searchValue" (keydown.enter)="handleEnterSearch(searchValue)">
        </div>
        <button class="search-btn" type="button" (click)="onSearchClick()">
          Search
        </button>
      </div>
    </div>
  </nav>
</header>
<!-- <router-outlet></router-outlet> -->
<div class="body-section mainContainer-{{deviceSize}}">
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
  <div class="text-cards">
    <div *ngIf="pageState == 'Initial'" class="mat-card mat-focus-indicator ng-star-inserted">
      <div class="initialLoad" [innerHtml]="welcomeMessage"></div>
    </div>
    <div *ngIf="pageState == 'Error'" class="mat-card mat-focus-indicator error-class ng-star-inserted">
      <div class="errorLoad" [innerHtml]="errorMessage"></div>
    </div>
  </div>
  <div class="searchLoad" *ngIf="pageState == 'Loaded'">
    <div class="movie-grid">
      <div class="wrapper">
        <div class="movie-card" id="wrapperDiv-{{i}}" *ngFor="let item of moviesList | paginate : {itemsPerPage: pageSize, currentPage: page, totalItems: count};let i = index">
        <div id="cardGrid-{{i}}" class="cardgrid">
          <app-movie-card [movieData]="item" [itemIndex]="i"></app-movie-card>
        </div>
      </div>
      </div>
    </div>
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</div>

