$white:#fff;

app-movie-card {
  width: 100%;
}

.movies-div-container{
  box-shadow: -1px 3px 5px 0px #999;
  -webkit-box-shadow: -1px 3px 5px 0px #999;
  -moz-box-shadow: -1px 3px 5px 0px #999;
  .movie-container{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 24px 16px;
  }
}
.title{
  font-size: 20px;
  text-align:left;
  float: left;
  font-weight: 500;
}
.search-box ::ng-deep {
  .mat-form-field-flex{
    background-color: $white;
    input{
      background: $white;
      font-size: 17px;
    }
    button{
      border: 0;
      background-color: $white;
    }
  }
  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
  .mat-form-field-underline {
    bottom: 0px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex, .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0px !important;
  }
  .mat-form-field-wrapper {
    height: 40px;
  }
}
.search-box{
  float: right;
  .search-title{
    font-size: 16px;
    padding-right: 16px;
    align-self: end;
    vertical-align: bottom;
  }
  .search-btn{
    color: $white;
    background-color: #007de9;
    font-size: 15px;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    min-width: 100px;
    text-transform: uppercase;
    margin-left: 16px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
  }
}
.searchLoad  ::ng-deep{
  max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    .example-card{
      padding: 0;
    }
    .mat-card-image{
      height: 200px;
      margin: 0;
      width: 100%;
    }
    .movie-card-box{
      display: flex;
    }
    .mat-card-title{
      margin: 16px;
    }
    .movie-card-left{
      width: 25%;
    }
    .movie-card-right{
      width: 75%;
      text-align: left;
    }
}
.body-section {
  padding:24px 0px;
  mat-card {
    background-color: #F3F3F3;
    text-align: center;
    box-shadow: none;
  }
}

app-movie-card {
  align-self: start;
}
.error-class {
  border: 1px solid #F44336;
  color: #F44336;
  background-color: rgba(244,67,54,0.1) !important;
}

.mainContainer-xl, .mainContainer-l, .mainContainer-m {
  max-width: 1200px;
  margin: 0px auto;
  padding: 24px 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: 220px;
}
::ng-deep .ngx-pagination {
  padding-left: 0px;
}

@media (min-width: 993px) {
  .movie-container {
    padding: 24px 0px !important;
  }
}

@media (max-width: 992px) {
  .search-box{
    float: none;
    display: flex;
    padding-top: 0px;
    .mat-form-field {
      width: 100px !important;
    }
    ::ng-deep {
      .mat-form-field-infix {
        width: 70px !important;
      }
    }
    .search-btn{
      margin-left: 8px;
    }
  }
  .body-section {
    padding: 24px 16px;
  }
  ::ng-deep .mat-card-title {
    font-size: 20px !important;
  }
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}