<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primar movies-div-container">
    <div class="movie-container">
      <a class="navbar-brand title">
        OMDB Search
      </a>
      <div class="search-box d-flex" >

        <label class="search-title" fxHide.xs>Search a Movie</label>
        <mat-form-field class="example-form-field" appearance="fill">
          <input matInput type="text" [(ngModel)]="searchValue">
          <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button class="search-btn" type="button" (click)="onSearchClick()">
          Search
        </button>
      </div>
    </div>
  </nav>
</header>
<!-- <router-outlet></router-outlet> -->
<div class="body-section mainContainer-{{deviceSize}}">
  <div class="text-cards">
    <mat-card *ngIf="pageState == 'Initial'">
      <div class="initialLoad" [innerHtml]="welcomeMessage"></div>
    </mat-card>
    <mat-card *ngIf="pageState == 'Error'" class="error-class">
      <div class="errorLoad" [innerHtml]="errorMessage"></div>
    </mat-card>
  </div>
  <div class="searchLoad" *ngIf="pageState == 'Loaded'">
    <mat-grid-list cols="2" rowHeight="2:1">
      <div class="movie-card" *ngFor="let item of this.searchResponse.Search">
        <mat-grid-tile>
          <app-movie-card [movieData]="item"></app-movie-card>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>

