$white:#fff;

app-movie-card {
  width: 100%;
}

.wrapper {
  display : flow-root;
}

.movies-div-container{
  box-shadow: -1px 3px 5px 0px #999;
  -webkit-box-shadow: -1px 3px 5px 0px #999;
  -moz-box-shadow: -1px 3px 5px 0px #999;
  .movie-container{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 24px 16px;
  }
}
.title{
  font-size: 20px;
  text-align:left;
  float: left;
  font-weight: 500;
}
.search-box  {

}
.search-box{
  float: right;
  .search-title{
    font-size: 16px;
    padding-right: 16px;
    align-self: end;
    vertical-align: bottom;
  }
  .search-btn{
    color: $white;
    background-color: #007de9;
    font-size: 15px;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    min-width: 100px;
    text-transform: uppercase;
    margin-left: 16px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
  }
}
.searchLoad  ::ng-deep{
  max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    .example-card{
      padding: 0;
    }
    .mat-card-image{
      height: 250px;
      margin: 0;
      width: -webkit-fill-available;
    }
    .movie-card-box{
      display: flex;
    }
    .mat-card-title{
      margin: 16px;
      line-height: 27px;
    }
    .movie-card-left{
      width: 35%;
      img{
        width: -webkit-fill-available;
        max-height: 230px;

      }
    }
    .movie-card-right{
      width: 75%;
      text-align: left;
    }
}
.body-section {
  padding:24px 0px;
  .mat-card {
    background-color: #F3F3F3;
    text-align: center;
    box-shadow: none;
    padding:20px
  }
}

app-movie-card {
  align-self: start;
}
.error-class {
  border: 1px solid #F44336;
  color: #F44336;
  background-color: rgba(244,67,54,0.1) !important;
}

.mainContainer-xl, .mainContainer-l, .mainContainer-m {
  max-width: 1000px;
  margin: 0px auto;
  padding: 24px 0px;
}


::ng-deep .ngx-pagination {
  padding-left: 0px;
}

@media (min-width: 993px) {
  .movie-container {
    padding: 24px 0px !important;
  }
}
.movie-card {
  width: 45%;
  float: left;
  margin: 20px;
  max-height: 230px;

}


.wrapperFullWidth {
  width: 100% !important;
  max-height: 100% !important;
}

  .mat-form-field {
    display: contents;
    input{
      background: #efefef;
      border: 0;
      padding: 10px;
      font-size: 16px;
    }
}

@media (max-width: 992px) {
  .search-box{
    float: none;
    display: flex;
    padding-top: 0px;


      .mat-form-field {
        width: 70px;
      }

    .search-btn{
      margin-left: 8px;
      min-width: 80px;
    }
  }
  .body-section {
    padding: 24px 16px;
  }
   .mat-card-title {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .searchLoad  ::ng-deep{
    .mat-card-image{
      height: 200px;
    }

  }
  .navbar-brand.title , .mat-card-title{
    font-size: 14px;
  }

  .movie-card {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    height: auto;

  }
  pagination-controls ::ng-deep{

    width: 100%;
    text-align: left;
    float: left;
    left: 0;
    .ngx-pagination a, .ngx-pagination button , span {
      cursor: pointer;
      font-size: 9px;
  }
  }
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .mat-form-field {

        input{
    max-width:100px;
    font-size:12px;
        }
        .search-box {
          min-width: 70px;
          font-size: 10px;
          padding: 5px;
      }
    }
}
